<template name="learningStatusModal">
    <div class="modal fade" id="learningStatusModal" tabindex="-1" role="dialog"
         aria-labelledby="progressTitle">
            <div class="modal-dialog modal-lg">
                <div class="modal-content modal-lg modal-content-for-buttons">
                    <div class="modal-header">
                    <span class="modal-icon">
                        <span class="fas fa-chart-bar"></span>
                    </span>
                        {{> mainModalItemCloseIcon}}
                        <h4 id="learningStatusTitle" class="modal-title">
                            {{#if gotLearningStatusData}}
                                {{getTitle}}
                            {{/if}}
                        </h4>
                    </div>
                    <div class="modal-body">
                        {{#if gotLearningStatusData}}
                            <div id="learningStatusStatsGeneralTitle" class="user-history-title">
                                <h4>{{_ "learningStatistics.table.general.title"}}</h4>
                            </div>
                            <div class="table-responsive">
                                <table aria-describedby="learningStatusGeneralTitle" class="table table-striped table-hover table-learning-history table-history-global-stats">
                                    <tbody>
                                    <tr>
                                        <th id="learningLogStatsGeneralStateHeader">{{_ "learningStatistics.table.general.state"}}:</th>
                                        <td colspan="3" headers="learningLogStatsGeneralStateHeader">{{learningStatisticsGetLastActivity 1}}</td>
                                    </tr>
                                    <tr>
                                        <th id="learningStatusGeneralUserHeader">{{_ "learningStatistics.table.general.user"}}:</th>
                                        <td  colspan="{{#if learningStatisticsHideUserName}}3{{else}}1{{/if}}" headers="learningStatusGeneralUserHeader">{{learningStatisticsGetUserName}}</td>
                                        {{# unless learningStatisticsHideUserName}}
                                            <th id="learningStatusGeneralEMailHeader">{{_ "learningStatistics.table.general.eMail"}}:</th>
                                            <td headers="learningStatusGeneralEMailHeader">{{{learningStatisticsGetEMail}}}</td>
                                        {{/unless}}
                                    </tr>
                                    {{#if isCardsetView}}
                                        <tr>
                                            <th id="learningStatusGeneralCardsetHeader">
                                                {{#if learningStatisticsIsRep 1}}
                                                    {{_ "learningStatistics.table.general.repetitorium"}}:
                                                {{else}}
                                                    {{_ "learningStatistics.table.general.cardset"}}:
                                                {{/if}}
                                            </th>
                                            <td headers="learningStatusGeneralCardsetHeader">
                                                {{learningStatisticsGetCardsetTitle 1}}
                                            </td>
                                            <th id="learningStatusGeneralBonusHeader">{{_ "learningStatistics.table.general.isInBonus.title"}}:</th>
                                            <td headers="learningStatusGeneralBonusHeader">
                                                {{#if learningStatisticsIsInBonus 1}}
                                                    {{_ "learningStatistics.table.general.isInBonus.yes"}}
                                                {{else}}
                                                    {{_ "learningStatistics.table.general.isInBonus.no"}}
                                                {{/if}}
                                            </td>
                                        </tr>
                                    {{/if}}
                                    </tbody>
                                </table>
                            </div>
                            <br>
                            {{> progress type="normal"}}
                        {{else}}
                            {{> loadingScreen}}
                        {{/if}}
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</template>
