<template name="cardsetInfoBoxItemBonusWorkingTimeMedian">
    {{#if this.learningActive}}
        <tr>
            <td>{{_ "learningHistory.stats.duration.workingTime.median"}}:</td>
            <td>{{getBonusWorkingTimeMedian}}</td>
        </tr>
    {{/if}}
</template>
