<template name="errorReportingModal">
    <div class="modal fade" id="showErrorReportingModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" aria-labelledby="showErrorReportingTitle">
            <div class="modal-content">
                <div class="modal-header">
                     <span class="modal-icon">
                        <span class="fas fa-bullhorn"></span>
                    </span>
                    {{> mainModalItemCloseIcon}}
                    <h4 id="showErrorReportingTitle" class="modal-title">
                        {{#if isErrorReviewMode}}
                            {{_ "modal-card.errorReporting.headerReview"}}
                        {{else}}
                            {{_ "modal-card.errorReporting.header"}}
                        {{/if}}
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        {{> setCardSideForError}}
                        {{> setDiscoveredError}}
                        {{> otherErrorTextarea}}
                        {{> changeErrorStatus}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="cancelErrorReport" class="btn btn-raised btn-default btn-block col-xs-12 col-sm-3"
                            data-dismiss="modal">
                        {{_ "modal-card.cancel"}}
                    </button>
                    {{#if isErrorReviewMode}}
                        <button id="closeErrorReport" class="btn btn-raised btn-success btn-block col-xs-12 col-sm-3 pull-right">
                            {{_ "modal-card.errorReporting.save"}}
                        </button>
                    {{else}}
                        <button id="sendErrorReport" class="btn btn-raised btn-success btn-block col-xs-12 col-sm-3 pull-right">
                            {{_ "modal-card.errorReporting.send"}}
                        </button>
                        <button id="saveErrorReport" class="btn btn-raised btn-success btn-block col-xs-12 col-sm-3 pull-right hidden">
                            {{_ "modal-card.errorReporting.save"}}
                        </button>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="setCardSideForError">
    <div id="cardSidesGroupContainer" class="form-group">
        <label id="cardSidesGroupLabel" class="col-xs-12 control-label" for="cardSidesGroup">
            {{_ "modal-card.errorReporting.cardSide"}}
        </label>
        <div id="cardSidesGroup" class="form-group btn-group col-xs-12 nav nav-justified" role="group" data-toggle="buttons">
            {{#each getCardNavigation}}
                <li class="btn-bootstrap-container">
                    <label id="cardNaviionButtonLabel-{{this.index}}" class="btn btn-block btn-raised btn-orange">
                        <input id="cardNaviionButton-{{this.index}}" type="radio" name="cardSide" value="{{this.index}}">
                        <span class="flex-content">
                            {{getTitle}}
                        </span>
                    </label>
                </li>
            {{/each}}
        </div>
    </div>
</template>

<template name="setDiscoveredError">
    <div class="form-group">
        <label id="discoveredErrorLabel" class="col-xs-12 control-label" for="discoveredError">
            {{_ "modal-card.errorReporting.discoveredError"}}
        </label>
        <div id="discoveredError">
            <label class="col-xs-12">
                <input id="spellingMistakeCheckbox" type="checkbox">
                {{_ "modal-card.errorReporting.spellingMistake"}}
            </label>
            <label class="col-xs-12">
                <input id="missingPictureCheckbox" type="checkbox">
                {{_ "modal-card.errorReporting.missingPicture"}}
            </label>
            <label class="col-xs-12">
                <input id="layoutMistakeCheckbox" type="checkbox">
                {{_ "modal-card.errorReporting.layoutMistake"}}
            </label>
            <label class="col-xs-12">
                <input id="brokenLinkCheckbox" type="checkbox">
                {{_ "modal-card.errorReporting.brokenLink"}}
            </label>
        </div>
    </div>
</template>

<template name="otherErrorTextarea">
    <div class="form-group">
        <label id="otherErrorLabel" class="col-xs-12 control-label" for="otherError">
            {{_ "modal-card.errorReporting.otherError"}}
        </label>
        <div id="otherError">
            <textarea id="otherErrorTextarea" class="form-control" rows="10" placeholder="{{_ "modal-card.errorReporting.otherErrorText"}}"></textarea>
        </div>
    </div>
</template>

<template name="changeErrorStatus">
    {{#if canEditCard}}
        <div id="chhgeErrorStatusContaienr" class="form-group {{#unless isErrorReportingMode}}hidden{{/unless}}">
            <div id="changeError" class="col-xs-12">
                <label class="radio-inline">
                    <input type="radio" id="openError" name="errorStatus" value="0">
                    {{_ 'modal-card.overviewErrorReports.openError'}}
                </label>
                <label class="radio-inline">
                    <input type="radio" id="closedError" name="errorStatus" value="1">
                    {{_ 'modal-card.overviewErrorReports.closedError'}}
                </label>
            </div>
        </div>
    {{/if}}
</template>

<template name="overviewErrorReportsModal">
    <div class="modal fade" id="showOverviewErrorReportsModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" aria-labelledby="showOverviewErrorReportsTitle">
            <div class="modal-content">
                <div class="modal-header">
                     <span class="modal-icon">
                        <span class="fas fa-bullhorn"></span>
                    </span>
                    {{> mainModalItemCloseIcon}}
                    <h4 id="showOverviewErrorReportsTitle" class="modal-title">{{_ "modal-card.overviewErrorReports.header"}}
                    </h4>
                </div>
                <div class="modal-body">
                    {{> overviewErrorReportsTable}}
                </div>
                <div class="modal-footer">
                    <button id="closeOverviewErrorReports" class="btn btn-raised btn-default btn-block col-xs-12 col-sm-3">
                        {{_ "modal-card.close"}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="overviewErrorReportsTable">
    <div class="form-horizontal">
        <div class="form-group">
            <div id="unresolvedErrorReportsTable">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th scope="col">{{_ "modal-card.overviewErrorReports.table.side"}}</th>
                        <th scope="col">{{_ "modal-card.overviewErrorReports.table.error"}}</th>
                        <th scope="col">{{_ "modal-card.overviewErrorReports.table.author"}}</th>
                        <th scope="col">{{_ "modal-card.overviewErrorReports.table.status"}}</th>
                    </tr>
                    </thead>
                    <tbody>
                        {{#each getErrorReport}}
                            <tr class="{{#if canEditCard}}errorReportEntry{{/if}}" data-error-id="{{this._id}}">
                                <td>{{getSide this.cardSide}}</td>
                                <td>{{{getErrors this._id}}}</td>
                                <td>{{getAuthorName this.user_id}}</td>
                                <td>{{getStatus this.status}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
